.products-container{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1px;

    // &__aside{
    //     width: 20%;
    //     height: calc(100vh - var(--header-height));
    //     background-color: rgb(216, 216, 216);
    //     display:flex;
    //     align-items: flex-start;
    //     justify-content: center;
    //     flex-direction: column;
    //     gap: 0.5rem;
    //     padding-left: 2rem;
    //     border-right: 1px solid #3BFBC2;

    //     a{
    //         text-decoration: none;
    //         color: black;
    //         font-size: 1.125rem;
    //         font-weight: 700;
    //     }
    // }

    &__grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        place-items: center;
        padding: 1rem;
        .products-container-single{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.5rem;
            box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.2);
            border-radius: 1rem;
            padding:1rem 0;
            div{
                img{

                    width: 100%;
                    aspect-ratio: 4/3;
                    height: 15rem;
                    object-fit: contain;
                    border-radius: 1rem 1rem 0 0;
                }
            }
            h2,p{
                flex-grow: 1;
            }

            a{
                text-decoration: none;
                background-color: #3BFBC2;
                border-radius: 1rem;
                padding: 0.5rem 2rem;
                color: #203F71;
            }
        }
    }
    
}